.header .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.header {
    background-color: #333333;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

.logout, .lead {
    display: inline;
}

.newTrip, .logout, .selectTrip {
  float: right;
  margin: 5px;
}

.header {
  padding: 25px;
  margin-bottom: 10px;
}

.selectTrip {
  font-size: 100px;
}

.content {
  text-align: center;
}

.lead {
    color: #DDDDDD !important;
    text-decoration: inherit;

}

.lead:hover {
  text-decoration: inherit;
}

.lead:link {
  text-decoration: inherit;
}

img {
  max-height: 150px;
  width: auto;
  border-radius: 80px;
  border: 2px solid black;
  margin: 10px;
}

img:hover {
  opacity: 0.50;
}

.groceryPic {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 80px;
}

.table {
  max-width: 350px;
}

.btnItem {
  max-width: 20px;
  height: auto;
  font-size: 10px;
}
