<div class="container">
<h1>{{factoryCurrentTrip.data.name}} Costs</h1>
<section id="costCategorySubmission">
      <form id="categoryForm">
        <label for="costCategory">Create A New Category:</label>
        <input type="text" id="currentCostCategory" name="costCategory" ng-model="currentCostCategory.category" />

        <button ng-click="submitNewCategory()">Submit</button>

      </form>
</section>

<section id="costCategories">
          <div class = "categories" ng-repeat="cost in factoryCurrentTrip.data.costs">
          <h3>{{cost.category}}</h3>
          <table class = "table table-bordered">
            <thead ng-if="cost.items.length !== 0">
              <tr>
                <th>Expense</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr class = "items" ng-repeat="item in cost.items">
                <td><button class="btnItem" ng-click="deleteItem(cost._id, item._id)">x</button>   {{item.expense_name}}</td>
                <td>${{item.cost}}</td>
              </tr>
            </tbody>
          </table>
          <button class="newitem" ng-click="addItem(cost._id)">Add New Item</button>
              <div ng-show="displayedCategoryID == cost._id">
                <ul id="costForm">
                  <li class="expense">
                    <label for="expense_name">Name:</label>
                    <input type="text" id="expense_name" name="expense_name" ng-model="newExpense.expense_name" />

                    <label for="cost">Cost: $</label>
                    <input type="number" id="cost" name="cost" ng-model="newExpense.cost" />
                  </li>
                  </ul>
                  <button class="addNewItem" ng-click="submitNewItem(cost._id)">Submit</button>
                  </div>
                <h5>{{cost.category}} Total: $</h5>
                </div>
</section>

<h3>TOTAL COST: ${{ getTotal() }}</h3>
</div>
