<div class="container">
<h1>Trip Costs</h1>
<section id="costCategorySubmission">
      <form id="categoryForm">
        <label for="costCategory">Create A New Category:</label>
        <input type="text" id="currentCostCategory" name="costCategory" ng-model="currentCostCategory.category" />

        <button ng-click="submitNewCategory()">Submit</button>

      </form>
</section>

<section id="costCategories">
          <div class = "categories" ng-repeat="cost in factoryCurrentTrip.data.costs">
          <h2>{{cost.category}}</h2>
          <div class = "items" ng-repeat="item in cost">
          <ul id="costForm">
            <li class="expense">
              <label for="expense_name"></label>
              <input type="text" id="expense_name" name="expense_name" ng-model="factoryCurrentTrip.data.costs.items[0].expense_name" />

              <label for="cost"></label>
              <input type="number" id="cost" name="cost" ng-model="factoryCurrentTrip.data.costs.items[0].cost" />
              <button class="update" ng-click="addNewItem(factoryCurrentTrip.data.costs.category._id)">Add New Item</button>
            </li>
            </ul>
            </div>
          </div>

</section>
