<div class="content">
    <div class="selectedTrip">
      <h1>{{factoryCurrentTrip.data.name}}</h1>
      <h2>{{factoryCurrentTrip.data.destination}}</h2>
      <h3>{{factoryCurrentTrip.data.departure}} - {{factoryCurrentTrip.data.return}}</h3>
    <div class="col-md-12 images">
      <a href="#costs"><img class="costPic" src="/images/print-dollar-sign-small.png"/></a>
      <a href="#groceries"><img class="groceryPic" src="/images/groceries1.jpg"/></a>
      <a href="#meals"><img class="mealPic" src="/images/Silverware.png"/></a>
      <a href="#itinerary"><img class="itineraryPic" src="/images/mapa-de-ubicacion_318-56285.jpg"/></a>
      <a href="#notes"><img class="notePic" src="/images/pencil.png"/></a>
    </div>
</div>
<button ng-click="deleteTrip()">Delete {{factoryCurrentTrip.data.name}}</button>
<button ng-click="addUser(recentTrip.name)">Add A Trip Member</button>
<h3>{{errorMessage}}</h3>
<h3>{{successMessage}}</h3>
<div ng-show="includedTrip == recentTrip.name">
  <ul id="addUserForm">
    <li class="email">
      <label for="email">User's E-mail Address:</label>
      <input type="text" name="email" ng-model="newUser.email" />
    </li>
    </ul>
    <button class="addNewUser" ng-click="submitUser()">Submit</button>
    </div>
</div>
