<div class="pageContent">
  <div class="page">
    <div class="alignRight">
      <button class="btn btn-secondary" ng-hide="factoryCurrentTrip.data._id=== deleteBtns" ng-if="factoryCurrentTrip.data.meals.length > 0" ng-click="showDeleteBtns()">Delete Date(s)</button>
      <button class="btn btn-secondary" ng-hide="factoryCurrentTrip.data._id !== deleteBtns" ng-if="factoryCurrentTrip.data.meals.length > 0" ng-click="hideDeleteBtns()">Done Editing</button>
    </div>
    <h1>{{factoryCurrentTrip.data.name}} Meal Plan</h1>

    <section id="mealSubmission">
      <form id="mealForm">
        <label for="currentDate">Add A New Day:</label>
        <input type="date" id="currentDate" name="date" ng-model="currentMealDate.date" />

        <label for="currentBreakfast">Breakfast:</label>
        <input type="text" id="currentBreakfast" name="breakfast" ng-model="currentMealDate.breakfast" />

        <label for="currentLunch">Lunch:</label>
        <input type="text" id="currentLunch" name="lunch" ng-model="currentMealDate.lunch" />

        <label for="currentDinner">Dinner:</label>
        <input type="text" id="currentDinner" name="dinner" ng-model="currentMealDate.dinner" />

        <button class="btn btn-secondary" ng-click="submitNewDate()">Submit</button>

      </form>
    </section>

    <section id="mealDates" class="alignLeft">
      <div class="mealDates" ng-repeat="meal in factoryCurrentTrip.data.meals | orderBy: 'date'">
        <h3>{{meal.date}}<button class="btnItem btn btn-secondary" ng-if="factoryCurrentTrip.data._id === deleteBtns" ng-click="deleteDate(meal._id)"><img class="deletePic" src="/images/trash_icon2.png"/></button></h3>
        <ul class="meals">
          <li class="meal">Breakfast: {{meal.breakfast}}</li>
          <li class="meal">Lunch: {{meal.lunch}}</li>
          <li class="meal">Dinner: {{meal.dinner}}</li>
        </ul>
      </div>
    </section>

  </div>
</div>
